{
  "info": {
    "title": "User API",
    "version": "1.0.0"
  },
  "tags": [],
  "paths": {
    "user-api/login": {
      "post": {
        "summary": "Login",
        "responses": {
          "200": {
            "description": "Successful login"
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "user-api/objects": {
      "get": {
        "summary": "Get user by ID",
        "responses": {
          "200": {
            "description": "A user object"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ]
      }
    }
  },
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://novo-teste.on.qriarlabs.com",
      "description": "Main (production) server"
    },
    {
      "url": "https://novo-teste.on.qriarlabs.com",
      "description": "Internal test server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "schemas": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}